.section {
  padding: 60px 20px;
  text-align: center;
}

.title {
  font-size: 2rem;
  margin-bottom: 30px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}

.logo {
  height: 60px;
  object-fit: contain;
  filter: grayscale(100%);
  transition: 0.3s;
}

.logo:hover {
  filter: grayscale(0%);
}