openapi: 3.0.0
info:
  title: Recipe Collection API
  version: 1.0.0
  description: API for managing recipes in the Recipe Collection App.

servers:
  - url: https://api.myrecipes.com
    description: Production server

paths:
  /api/recipes:
    get:
      summary: Get all recipes
      description: Retrieve a list of all recipes.
      responses:
        '200':
          description: A list of recipes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Recipe'

    post:
      summary: Add a new recipe
      description: Create and store a new recipe.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecipeInput'
      responses:
        '201':
          description: Recipe successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recipe'

  /api/recipes/{id}:
    get:
      summary: Get a specific recipe
      description: Retrieve details of a recipe by its ID.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Recipe details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recipe'
        '404':
          description: Recipe not found

    put:
      summary: Edit an existing recipe
      description: Update an existing recipe by its ID.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecipeInput'
      responses:
        '200':
          description: Recipe updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recipe'
        '404':
          description: Recipe not found

    delete:
      summary: Delete a recipe
      description: Delete a recipe by its ID.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Recipe deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Recipe with id 1 has been deleted.
        '404':
          description: Recipe not found

components:
  schemas:
    Recipe:
      type: object
      properties:
        id:
          type: integer
          example: 1
        title:
          type: string
          example: Recipe 1 Title
        ingredients:
          type: array
          items:
            type: string
          example: ["ingredient1", "ingredient2"]
        instructions:
          type: string
          example: Recipe 1 Instruction

    RecipeInput:
      type: object
      required:
        - title
        - ingredients
        - instructions
      properties:
        title:
          type: string
          example: Recipe 3 Title
        ingredients:
          type: array
          items:
            type: string
          example: ["ingredient1", "ingredient2"]
        instructions:
          type: string
          example: Recipe 3 Instruction
